---
import Card from '../components/Card.astro';
import ImagenSistema from '../assets/sistema.png';

---

<h2 class="text-4xl font-bold mb-6 text-center">Proyectos</h2>
<section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 p-6" id="projects">
  <Card 
    titulo="Sistema de gestión"
    descripcion="Sistema web desarrollado para la administración y seguimiento de inventario, cobranzas y clientes. Permite centralizar la información y mejorar la eficiencia operativa."
    imagen={ImagenSistema}
    url="/"
    tecnologias={['php','mysql','css','html','javascript','jquery']}
  />
    <Card 
    titulo="Sistema de gestión"
    descripcion="Sistema web desarrollado para la administración y seguimiento de inventario, cobranzas y clientes. Permite centralizar la información y mejorar la eficiencia operativa."
    imagen={ImagenSistema}
    url="/"
    tecnologias={['php','mysql','css','html','javascript','jquery']}
  />
    <Card 
    titulo="Sistema de gestión"
    descripcion="Sistema web desarrollado para la administración y seguimiento de inventario, cobranzas y clientes. Permite centralizar la información y mejorar la eficiencia operativa."
    imagen={ImagenSistema}
    url="/"
    tecnologias={['php','mysql','css','html','javascript','jquery']}
  />
</section>
