<div class="flex flex-col items-center justify-center text-center m-20">
    <h2 class="text-4xl text-gray-800 font-bold dark:text-white mb-6 ">Stack</h2>
    <section>
        <div class="flex flex-wrap justify-center gap-4 p-6">
            <img src="/assets/icons/php.svg" alt="PHP" class="w-16 h-16" loading="eager" />
            <img src="/assets/icons/mysql.svg" alt="MySQL" class="w-16 h-16" loading="eager"/>
            <img src="/assets/icons/css.svg" alt="CSS3" class="w-16 h-16" loading="eager"/>
            <img src="/assets/icons/html.svg" alt="HTML5" class="w-16 h-16" loading="eager"/>
            <img src="/assets/icons/javascript.svg" alt="JavaScript" class="w-16 h-16" loading="eager"/>
            <img src="/assets/icons/jquery.svg" alt="jQuery" class="w-16 h-16" loading="eager"/>
            <img src="/assets/icons/tailwind.svg" alt="Tailwind CSS" class="w-16 h-16" loading="eager"/>
            <img src="/assets/icons/astro.svg" alt="Astro.js" class="w-16 h-16" loading="eager"/>
            <img src="/assets/icons/typescript.svg" alt="Typescript" class="w-16 h-16" loading="eager"/>
            <img src="/assets/icons/composer.svg" alt="Composer" class="w-16 h-16" loading="eager"/>
            <img src="/assets/icons/npm.svg" alt="Npm" class="w-16 h-16" loading="eager"/>
            <img src="/assets/icons/git.svg" alt="Git" class="w-16 h-16" loading="eager"/>


        </div>
    </section>

</div>