<button 
  onclick="toggleTheme()" 
  class="px-3 py-2 rounded text-gray-800 bg-gray-100 dark:bg-gray-600 dark:text-white text-sm cursor-pointer"
>
  🌓 Tema
</button>

<script is:inline>
  function toggleTheme() {
    const html = document.documentElement;
    const isDark = html.classList.toggle('dark');
    localStorage.setItem('theme', isDark ? 'dark' : 'light');
  }

  
</script>
