---

import Image from "astro/components/Image.astro";
import { string } from "astro:schema";

// Para cargar una imagen específica dinámicamente
const imagePath = '../assets/sistema.png';

interface Props{
    path: string;
    ancho: number;
    alto: number;
    desc: string;
}


const {path, ancho, alto, desc} = Astro.props;
---

<div>
    <Image src={path} width={ancho} height={alto} alt={desc}/>
</div>